@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body._lock {
  overflow: hidden; }

@font-face {
  font-family: 'Neue Machina';
  src: url("../fonts/ppneuemachina-webfont.eot");
  src: url("../fonts/ppneuemachina-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ppneuemachina-webfont.woff2") format("woff2"), url("../fonts/ppneuemachina-webfont.woff") format("woff"), url("../fonts/ppneuemachina-webfont.ttf") format("truetype"), url("../fonts/ppneuemachina-webfont.svg#pp_neue_machinaultrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Onest';
  src: url("../fonts/onestmedium-webfont.eot");
  src: url("../fonts/onestmedium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/onestmedium-webfont.woff2") format("woff2"), url("../fonts/onestmedium-webfont.woff") format("woff"), url("../fonts/onestmedium-webfont.ttf") format("truetype"), url("../fonts/onestmedium-webfont.svg#onestmedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Onest';
  src: url("../fonts/onestbold-webfont.eot");
  src: url("../fonts/onestbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/onestbold-webfont.woff2") format("woff2"), url("../fonts/onestbold-webfont.woff") format("woff"), url("../fonts/onestbold-webfont.ttf") format("truetype"), url("../fonts/onestbold-webfont.svg#onest_boldbold") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Onest';
  src: url("../fonts/onestregular-webfont.eot");
  src: url("../fonts/onestregular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/onestregular-webfont.woff2") format("woff2"), url("../fonts/onestregular-webfont.woff") format("woff"), url("../fonts/onestregular-webfont.ttf") format("truetype"), url("../fonts/onestregular-webfont.svg#onest_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1280px) {
  .container {
    max-width: 970px; } }

/*
@media (max-width: 1064px) {
	.container {
		max-width: $WidthContainer_1024 + px;
	}
}*/
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.kii9 {
  padding-top: 100px; }

/*
.wrapper {
	@media (max-width: 767px) {
		display: none;
	}
}*/
.blok-title {
  font-family: Neue Machina;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: #1A1B22;
  margin-bottom: 75px; }
  .blok-title span {
    color: #27B1FF; }
  @media (max-width: 1280px) {
    .blok-title {
      font-size: 55px;
      line-height: 55px;
      margin-bottom: 50px; } }
  @media (max-width: 767px) {
    .blok-title {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 30px; } }
  @media (max-width: 480px) {
    .blok-title {
      font-size: 30px;
      line-height: 30px; } }

@media (min-width: 1064px) {
  .link-blek-hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .link-blek-hover:hover {
      color: #27B1FF; }
    .link-blek-hover:active {
      color: #1a9ce6 !important; } }

@media (min-width: 1064px) {
  .link-white-hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .link-white-hover:hover {
      color: #BDF3FF; }
    .link-white-hover:active {
      color: #ace5f2 !important; } }

@media (min-width: 1064.1px) {
  .button-hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px -2px 0px 0px transparent inset;
    box-shadow: 0px -2px 0px 0px transparent inset; }
    .button-hover:hover {
      border-bottom: none;
      background: #fff;
      color: #27B1FF;
      -webkit-box-shadow: 0px -2px 0px 0px #27B1FF inset;
      box-shadow: 0px -2px 0px 0px #27B1FF inset; }
    .button-hover:active {
      background: #eff9f9; } }

@media (min-width: 1064.1px) {
  .button-blu-hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px -2px 0px 0px transparent inset;
    box-shadow: 0px -2px 0px 0px transparent inset;
    border: 1px solid transparent; }
    .button-blu-hover:hover {
      border: 1px solid #27B1FF;
      background: #fff;
      color: #27B1FF;
      -webkit-box-shadow: 0px -2px 0px 0px #27B1FF inset;
      box-shadow: 0px -2px 0px 0px #27B1FF inset; }
    .button-blu-hover:active {
      background: #eff9f9; } }

@media (min-width: 1064.1px) {
  .button-blu-fon-hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border: 1px solid #fff; }
    .button-blu-fon-hover:hover {
      background: transparent;
      color: #fff; }
    .button-blu-fon-hover:active {
      background: rgba(255, 255, 255, 0.2); } }

@media (min-width: 1064.1px) {
  .button-transparent-hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0px -2px 0px 0px transparent inset;
    box-shadow: 0px -2px 0px 0px transparent inset; }
    .button-transparent-hover:hover {
      border: 1px solid transparent;
      border-bottom: none;
      background: #fff;
      color: #27B1FF;
      -webkit-box-shadow: 0px -2px 0px 0px #27B1FF inset;
      box-shadow: 0px -2px 0px 0px #27B1FF inset; }
    .button-transparent-hover:active {
      background: #eff9f9; } }

.header-wrapper {
  position: relative; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media (max-width: 767px) {
    .header {
      padding: 5px 0; } }

.header__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 175px;
  flex: 0 0 175px;
  margin-right: 15px; }
  .header__logo img {
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  @media (max-width: 1280px) {
    .header__logo {
      position: relative;
      top: 2px; } }
  @media (max-width: 970px) {
    .header__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
      flex: 0 0 15%; } }
  @media (min-width: 767px) {
    .header__logo {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1; } }
  @media (max-width: 767px) {
    .header__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 175px;
      flex: 0 0 175px;
      top: 0; } }

.header__list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 1280px) {
    .header__list {
      padding: 0 5px;
      padding-left: 15px; } }
  @media (max-width: 970px) {
    .header__list {
      max-width: 370px; } }
  @media (min-width: 767px) {
    .header__list {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }
  @media (max-width: 767px) {
    .header__list {
      max-width: none;
      padding-left: 0;
      display: block !important; } }

.header__link {
  font-family: Onest;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
  padding: 25px 20px;
  padding-right: 40px; }
  @media (max-width: 1330px) {
    .header__link {
      font-size: calc(8px + 10 * ((100vw - 320px) / 1010)); } }
  .header__link a {
    text-decoration: none !important; }
  @media (max-width: 1280px) {
    .header__link {
      padding: 15px 3px;
      padding-right: 17px;
      font-size: 18px;
      margin-right: 15px; } }
  @media (max-width: 970px) {
    .header__link {
      font-size: 14px; } }
  @media (max-width: 767px) {
    .header__link {
      border-top: 1px solid rgba(18, 18, 18, 0.3);
      margin: 0 !important; }
      .header__link:last-child {
        border-bottom: 1px solid rgba(18, 18, 18, 0.3); }
      .header__link > a {
        font-family: Onest;
        font-size: 40px;
        font-weight: 500;
        line-height: 56px;
        color: #696E7E; } }
  @media (max-width: 480px) {
    .header__link > a {
      font-size: 30px;
      line-height: 42px; } }
  @media (max-width: 360px) {
    .header__link > a {
      font-size: 24px;
      line-height: 33px; } }

.header__link_title {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: none;
  text-align: left;
  /*&:before {
		content: "";
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%) rotate(90deg);
		width: 0;
		height: 0;
		transition: all 0.3s ease 0s;

		border-top: 4.5px solid transparent;
		border-left: 7px solid #fff;
		border-bottom: 4.5px solid transparent;
	}*/ }
  .header__link_title a {
    font-size: 18px;
    text-decoration: none !important;
    color: #fff;
    position: relative;
    z-index: 10; }
  @media (max-width: 1280px) {
    .header__link_title {
      /*&:before {
			right: 0;
		}*/ } }
  @media (max-width: 970px) {
    .header__link_title a {
      font-size: 14px; } }
  @media (max-width: 767px) {
    .header__link_title {
      display: inline-block !important; }
      .header__link_title a {
        font-family: Onest;
        font-size: 40px;
        font-weight: 500;
        line-height: 56px;
        color: #696E7E !important; } }
  @media (max-width: 480px) {
    .header__link_title a {
      font-size: 30px;
      line-height: 42px; } }
  @media (max-width: 360px) {
    .header__link_title a {
      font-size: 24px;
      line-height: 33px; } }

.header__link_icon {
  content: "";
  display: inline-block;
  position: absolute;
  right: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  width: 0;
  height: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-top: 4.5px solid transparent;
  border-left: 7px solid #fff;
  border-bottom: 4.5px solid transparent; }
  @media (max-width: 767px) {
    .header__link_icon {
      border-left: 7px solid #696E7E;
      position: relative;
      top: 48%; } }

.header__buton-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31.5%;
  flex: 0 0 31.5%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 38px; }
  @media (max-width: 1280px) {
    .header__buton-wrapper {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 300px;
      padding-left: 20px; } }
  @media (min-width: 767px) {
    .header__buton-wrapper {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; } }
  @media (max-width: 767px) {
    .header__buton-wrapper {
      padding: 0 15px;
      max-width: 230px;
      display: block; } }
  @media (max-width: 480px) {
    .header__buton-wrapper {
      max-width: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.header-langvig {
  margin-right: 10px; }

.header-langvig__title {
  font-family: Onest;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #fff;
  padding-right: 17px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }
  .header-langvig__title:before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    width: 0;
    height: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-top: 4.5px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 4.5px solid transparent; }
  @media (max-width: 1280px) {
    .header-langvig__title {
      padding-right: 14px; }
      .header-langvig__title:before {
        right: 0; } }
  @media (max-width: 970px) {
    .header-langvig__title {
      font-size: 14px; } }
  @media (max-width: 767px) {
    .header-langvig__title {
      color: #1A1B22;
      -webkit-transform: translate(0);
      -ms-transform: translate(0);
      transform: translate(0); }
      .header-langvig__title:before {
        border-top: 4.5px solid transparent;
        border-left: 7px solid #1A1B22;
        border-bottom: 4.5px solid transparent; } }

.header__registration {
  font-family: Onest;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #27B1FF;
  padding: 15px 30px;
  background: #fff;
  border-radius: 15px; }
  @media (max-width: 1330px) {
    .header__registration {
      font-size: calc(8px + 8 * ((100vw - 320px) / 1010)); } }
  @media (max-width: 1280px) {
    .header__registration {
      padding: 10px 16px; } }
  @media (max-width: 767px) {
    .header__registration {
      background: #27B1FF;
      color: #fff;
      text-align: center;
      padding: 7px 0;
      display: block;
      margin-bottom: 7px; } }
  @media (max-width: 480px) {
    .header__registration {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
      flex: 0 0 49%;
      margin-bottom: 0px; } }

.header__log-in {
  font-family: Onest;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  padding: 15px 27px;
  border: 1px solid #FFFFFF;
  border-radius: 15px; }
  @media (max-width: 1330px) {
    .header__log-in {
      font-size: calc(8px + 8 * ((100vw - 320px) / 1010)); } }
  @media (max-width: 1280px) {
    .header__log-in {
      padding: 10px 12px; } }
  @media (max-width: 767px) {
    .header__log-in {
      border: 1px solid #696E7E;
      color: #696E7E;
      text-align: center;
      padding: 7px 0;
      display: block; } }
  @media (max-width: 480px) {
    .header__log-in {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
      flex: 0 0 49%; } }

.header-langvig {
  height: 100%;
  position: relative;
  z-index: 30; }
  .header-langvig._active .language-content-header__list {
    bottom: 0;
    opacity: 1;
    visibility: visible; }
  .header-langvig._active .header-langvig__title:before {
    -webkit-transform: translateY(-50%) rotate(30deg);
    -ms-transform: translateY(-50%) rotate(30deg);
    transform: translateY(-50%) rotate(30deg); }
  @media (max-width: 767px) {
    .header-langvig._active .language-content-header__list {
      opacity: 1;
      visibility: visible; }
    .header-langvig .language-content-header__button span:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .header-langvig._active .language-content-header__button span:before {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      top: 0px; } }

.content-header__language .icon-Vector-3 {
  color: #212832 !important; }

.language-content-header__button {
  cursor: pointer;
  /*
	@media (max-width: 1240px) {
		margin-left: 30px;
	}
	@media (max-width: 1064px) {
		margin-left: 10px;
	}*/ }
  .language-content-header__button span:before {
    font-size: 12px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: inline-block; }
    @media (max-width: 1330px) {
      .language-content-header__button span:before {
        font-size: calc(6px + 6 * ((100vw - 320px) / 1010)); } }
  @media (max-width: 767px) {
    .language-content-header__button span:before {
      top: -2px;
      position: relative; } }
  @media (max-width: 520px) {
    .language-content-header__button span:before {
      top: 0px;
      position: relative; } }

.language-content-header__list {
  min-width: 80px;
  min-height: 20px;
  position: absolute;
  padding: 5px 8px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  -webkit-box-shadow: 0px 5px 30px 0px #3A95EFD9;
  box-shadow: 0px 5px 30px 0px #3A95EFD9;
  border-radius: 10px;
  padding: 10px 15px;
  min-width: 120px;
  font-size: 0; }
  .language-content-header__list a {
    display: block; }
  @media (max-width: 767px) {
    .language-content-header__list {
      z-index: 120 !important;
      position: absolute;
      bottom: -10px !important;
      left: auto;
      right: 0;
      -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
      transform: translate(0%, 100%);
      -webkit-box-shadow: 0px 5px 30px 0px rgba(58, 149, 239, 0.3);
      box-shadow: 0px 5px 30px 0px rgba(58, 149, 239, 0.3); } }

.language-content-header__link {
  font-size: 14px;
  font-family: Rubik;
  display: block;
  margin-bottom: 5px;
  color: #212832;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .language-content-header__link:hover {
    color: #f0c988; }
  .language-content-header__link:active {
    color: #c98e2e; }
  .language-content-header__link:last-child {
    margin: 0; }

@media (max-width: 767px) {
  .content-header__language {
    font-size: 24px;
    text-align: right;
    margin: 0; }
    .content-header__language span {
      font-size: 11px; } }

.menu__list > li {
  position: relative; }

.menu__link {
  color: #fff; }

.menu__sub-list {
  position: absolute;
  top: 100%;
  left: 0px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 30px 0px #3A95EFD9;
  box-shadow: 0px 5px 30px 0px #3A95EFD9;
  border-radius: 15px;
  padding: 20px 15px;
  min-width: 214px; }

.menu__sub-list li {
  margin: 0 0 10px 0; }

.menu__sub-list li:last-child {
  margin: 0; }

.menu__sub-link {
  font-family: Onest;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #696E7E; }

.menu__arrow {
  display: none; }

/*===================================*/
@media (min-width: 1064.1px) {
  body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: all; }
  body._pc .menu__list > li:hover .header__link_title .header__link_icon {
    -webkit-transform: translateY(-50%) rotate(30deg);
    -ms-transform: translateY(-50%) rotate(30deg);
    transform: translateY(-50%) rotate(30deg); }
  body._pc .menu__list > li:hover .header__link_title a {
    text-decoration: none !important; } }

/*
.menu__sub-list._active {
	opacity: 1;
	visibility: visible;
	transform: translate(0,0);
	pointer-events: all;
}
.header__link_icon._active{
	transform: translateY(-50%) rotate(30deg);
}
.header__link_title._active a{
	color: #BDF3FF;
	text-decoration: none !important;
}*/
@media (max-width: 1064px) {
  .menu__sub-list._active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: all; }
  .header__link_icon._active {
    -webkit-transform: translateY(-50%) rotate(30deg);
    -ms-transform: translateY(-50%) rotate(30deg);
    transform: translateY(-50%) rotate(30deg); }
  .header__link_title._active a {
    color: #BDF3FF;
    text-decoration: none !important; } }

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  pointer-events: all; }

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

body._touch .menu__link {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff; }

@media (min-width: 767px) {
  .menu__sub-list {
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; } }

/*===================================*/
.menu__icon {
  display: none; }

.header__burger-img {
  display: none; }

@media (max-width: 767px) {
  .burger-wrapper__bodu {
    overflow: auto;
    padding: 67px 15px 30px 15px; }
  .header__burger-img {
    display: block;
    position: fixed;
    top: 5px;
    left: 15px;
    z-index: 100;
    width: 175px;
    opacity: 0;
    visibility: hidden; }
  .menu__body._active .header__burger-img {
    opacity: 1;
    visibility: visible; }
  .menu__icon {
    display: block;
    z-index: 5;
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 50%; }
  .menu__icon._active {
    border: 1px solid #696E7E; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 50%;
    position: absolute;
    height: 2px;
    width: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #27B1FF;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 18px; }
  .menu__icon::after {
    bottom: 18px; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%); }
  .menu__icon._active span {
    left: 34%;
    background: #696E7E;
    -webkit-transform: scale(0) translate(0%, -50%);
    -ms-transform: scale(0) translate(0%, -50%);
    transform: scale(0) translate(0%, -50%); }
  .menu__icon._active::before {
    left: 34%;
    top: 50%;
    background: #696E7E;
    -webkit-transform: rotate(-45deg) translate(0%, -50%);
    -ms-transform: rotate(-45deg) translate(0%, -50%);
    transform: rotate(-45deg) translate(0%, -50%); }
  .menu__icon._active::after {
    left: 34%;
    bottom: 50%;
    background: #696E7E;
    -webkit-transform: rotate(45deg) translate(0%, 50%);
    -ms-transform: rotate(45deg) translate(0%, 50%);
    transform: rotate(45deg) translate(0%, 50%); }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: auto; }
  .burger-wrapper__heder {
    position: fixed;
    z-index: 100;
    top: 19px;
    right: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden; }
  .menu__body._active .burger-wrapper__heder {
    opacity: 1;
    visibility: visible; }
  .menu__body._active {
    left: 0; }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 67px;
    background: #fff;
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .menu__body._active::before {
    opacity: 1;
    visibility: visible; }
  .menu__list > li {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 30px 0; }
  .menu__list > li._active .menu__sub-list {
    display: block; }
  .menu__list > li:last-child {
    margin-bottom: 0; }
  .menu__link {
    font-size: 24px; }
  .menu__sub-list {
    position: relative;
    background: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0; }
  .menu__sub-link {
    font-size: 20px;
    color: #000; } }

.index-bloc {
  background: -webkit-linear-gradient(193.48deg, #1BD6FF 0%, #3A95EF 100%);
  background: -o-linear-gradient(193.48deg, #1BD6FF 0%, #3A95EF 100%);
  background: linear-gradient(256.52deg, #1BD6FF 0%, #3A95EF 100%);
  overflow: hidden;
  border-radius: 0 0 60px 60px; }

.index-bloc__body {
  padding: 180px 0;
  padding-top: 200px; }
  @media (min-width: 1920.1px) {
    .index-bloc__body {
      position: relative; } }
  @media (max-width: 1920px) {
    .index-bloc__body {
      padding-bottom: 120px; } }
  @media (max-width: 1280px) {
    .index-bloc__body {
      padding: 80px 0;
      padding-top: 150px; } }
  @media (max-width: 1064px) {
    .index-bloc__body {
      position: relative; } }
  @media (max-width: 540px) {
    .index-bloc__body {
      padding-top: 35%;
      padding-bottom: 70%; } }

.index-bloc__title {
  font-family: Neue Machina;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 15px;
  max-width: 700px; }
  @media (max-width: 1280px) {
    .index-bloc__title {
      font-size: 70px;
      line-height: 70px; } }
  @media (max-width: 540px) {
    .index-bloc__title {
      font-size: 50px;
      line-height: 45px; } }
  @media (max-width: 380px) {
    .index-bloc__title {
      font-size: 40px; } }

.index-bloc__text {
  font-family: Onest;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #BDF3FF;
  margin-bottom: 50px;
  max-width: 50%; }
  @media (max-width: 1280px) {
    .index-bloc__text {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 38px; } }
  @media (max-width: 540px) {
    .index-bloc__text {
      max-width: none;
      font-size: 20px; } }

.index-bloc__button {
  font-family: Onest;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #3A95EF;
  background: #fff;
  padding: 17px 37px;
  display: inline-block;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 30px 0px #3A95EFD9;
  box-shadow: 0px 5px 30px 0px #3A95EFD9; }
  @media (max-width: 1280px) {
    .index-bloc__button {
      font-size: 16px;
      line-height: 20px;
      padding: 15px 30px; } }

.index-bloc__img {
  /*position: absolute;
	width: 51%;
	bottom: 0;
	right: 0;
	transform: translateX(48%);

	@media (max-width: 1920px) {
		//width: 36.5vw;
		transform: translateX(5vw);
	}
	@media (max-width: 1280px) {
		width: 441px;
		transform: translateX(175px);
	}
	@media (max-width: 1064px) {
		width: 50%;
		transform: translateX(20px);
	}*/
  /*@media (max-width: 970px) {
		width: 50%;
		transform: translateX(20px);
	}*/ }

.index-bloc__img {
  position: absolute;
  width: 51%;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(48%);
  -ms-transform: translateX(48%);
  transform: translateX(48%);
  /*@media (max-width: 970px) {
		width: 50%;
		transform: translateX(20px);
	}*/ }
  @media (max-width: 1920px) {
    .index-bloc__img {
      width: 630px;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }
  @media (max-width: 1280px) {
    .index-bloc__img {
      width: 441px; } }
  @media (max-width: 1064px) {
    .index-bloc__img {
      width: 50%;
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px); } }
  @media (max-width: 540px) {
    .index-bloc__img {
      width: 80%; } }

.blok-img-list {
  padding: 100px 0;
  border-bottom: 1px solid rgba(105, 110, 126, 0.3); }
  @media (max-width: 767px) {
    .blok-img-list {
      padding: 50px 0; } }

.blok-img-list__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 640px) {
    .blok-img-list__body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.blok-img-list__blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  max-width: 33.333%;
  padding: 0 40px; }
  @media (max-width: 1064px) {
    .blok-img-list__blok {
      padding: 0 20px; } }
  @media (max-width: 640px) {
    .blok-img-list__blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 40px; }
      .blok-img-list__blok:last-child {
        margin-bottom: 0; } }

.blok-img-list__img {
  width: 70px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 20px; }
  @media (max-width: 1280px) {
    .blok-img-list__img {
      width: 60px; } }

.blok-img-list__title {
  font-family: Neue Machina;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #1A1B22;
  margin-bottom: 15px; }
  @media (max-width: 1280px) {
    .blok-img-list__title {
      font-size: 20px; } }

.blok-img-list__text {
  font-family: Onest;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: #696E7E; }
  @media (max-width: 1280px) {
    .blok-img-list__text {
      font-size: 16px; } }

.table {
  padding: 100px 0; }
  @media (max-width: 767px) {
    .table {
      padding: 50px 0; } }

.table-body {
  width: 100%; }
  .table-body table {
    width: 100%; }
  .table-body tbody {
    width: 100%;
    display: block; }
  .table-body td {
    width: 21.25%;
    padding: 14px 0px 16px; }
  .table-body td.td_min {
    width: 15%; }
  .table-body td.td_pading {
    padding-left: 30px; }
  .table-body tr {
    border-bottom: 1px solid rgba(221, 222, 227, 0.5);
    position: relative;
    width: 100%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 15px; }
  @media (max-width: 767px) {
    .table-body {
      overflow: auto;
      /*&  {
			overflow: auto;
			position: relative;
		}*/ }
      .table-body table {
        width: 727px;
        margin: 0; }
      .table-body tbody {
        margin: 0; }
      .table-body td {
        padding: 7px 0px 8px; }
      .table-body tr {
        padding: 0px; } }

.profil-affiliate-program-table__text {
  /*font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	color: #333;*/ }

.profil-affiliate-program-table__title {
  /*font-size: 13px;
	font-weight: 500;
	line-height: 16px;
	color: #979797;
	text-transform: uppercase;*/ }

.profil-affiliate-program_pagineishin {
  padding-top: 25px;
  padding-bottom: 0; }

.table-body__title {
  font-family: Onest;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #1A1B22;
  text-align: center; }
  .table-body__title.table-body__title_left {
    text-align: left; }
  .table-body__title:first-child {
    text-align: left; }
  @media (max-width: 767px) {
    .table-body__title {
      font-size: 14px; } }

.table-body__text {
  font-family: Onest;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #696E7E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .table-body__text.table-body__text_left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .table-body__text img {
    margin-right: 15px; }
  @media (max-width: 767px) {
    .table-body__text {
      font-size: 14px; } }

.table-body__text_img {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.table-body__button-wrapper {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 15% !important; }

.table-body__button {
  padding: 15px 30px;
  font-family: Onest;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  background: #27B1FF;
  border-radius: 12px; }

.blok-img {
  padding: 100px 0; }
  @media (max-width: 767px) {
    .blok-img {
      padding: 0; } }

.blok-img__body {
  background: -webkit-radial-gradient(19.42% 0.08%, 30.9% 99.92%, #1BD6FF 0%, #26B0FE 100%);
  background: -o-radial-gradient(19.42% 0.08%, 30.9% 99.92%, #1BD6FF 0%, #26B0FE 100%);
  background: radial-gradient(30.9% 99.92% at 19.42% 0.08%, #1BD6FF 0%, #26B0FE 100%);
  -webkit-box-shadow: 0px 14px 34px -20px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0px 14px 34px -20px rgba(0, 0, 0, 0.25) inset;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  padding: 70px 80px;
  margin: 0 -80px;
  max-width: 100vw; }
  @media (max-width: 1480px) {
    .blok-img__body {
      margin: 0; } }
  @media (max-width: 970px) {
    .blok-img__body {
      border-radius: 0px;
      margin: 0 -20px;
      padding: 30px 20px; } }
  @media (max-width: 767px) {
    .blok-img__body {
      margin: 0 -15px; } }

.blok-img__img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%; }
  @media (max-width: 1280px) {
    .blok-img__img {
      -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
      transform: translateX(40%);
      height: 60%; } }
  @media (max-width: 970px) {
    .blok-img__img {
      -webkit-transform: translateX(40%);
      -ms-transform: translateX(40%);
      transform: translateX(40%); } }
  @media (max-width: 767px) {
    .blok-img__img {
      height: 80%;
      -webkit-transform: translateX(60%);
      -ms-transform: translateX(60%);
      transform: translateX(60%); } }
  @media (max-width: 520px) {
    .blok-img__img {
      height: 60%;
      z-index: 1; } }

.blok-img__title {
  font-family: Neue Machina;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  max-width: 50%;
  margin-bottom: 20px;
  position: relative;
  z-index: 5; }
  @media (max-width: 1280px) {
    .blok-img__title {
      font-size: 55px;
      line-height: 55px; } }
  @media (max-width: 767px) {
    .blok-img__title {
      font-size: 40px;
      line-height: 40px;
      max-width: 90%;
      position: relative;
      z-index: 5; } }
  @media (max-width: 480px) {
    .blok-img__title {
      font-size: 36px;
      line-height: 36px; } }

.blok-img__text {
  font-family: Onest;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #BDF3FF;
  margin-bottom: 70px;
  position: relative;
  z-index: 5; }
  @media (max-width: 1280px) {
    .blok-img__text {
      max-width: 80%; } }
  @media (max-width: 970px) {
    .blok-img__text {
      max-width: 40%;
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .blok-img__text {
      position: relative;
      z-index: 5; } }

.blok-img__button {
  font-family: Onest;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  color: #3A95EF;
  background: #fff;
  padding: 17px 37px;
  display: inline-block;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 30px 0px #3A95EFD9;
  box-shadow: 0px 5px 30px 0px #3A95EFD9;
  position: relative;
  z-index: 5; }
  @media (max-width: 1280px) {
    .blok-img__button {
      font-size: 16px;
      line-height: 20px;
      padding: 15px 30px; } }
  @media (max-width: 767px) {
    .blok-img__button {
      position: relative;
      z-index: 5; } }

.footer {
  padding-top: 100px; }
  @media (max-width: 970px) {
    .footer {
      padding-top: 50px; } }

.footer-top {
  padding-bottom: 30px;
  border-bottom: 1px solid #DDDEE3; }

.footer__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .footer__wrapper {
      display: block; } }

.footer-contact {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  padding-right: 45px; }
  @media (max-width: 520px) {
    .footer-contact {
      padding-right: 0; } }

.footer-contact__logo {
  width: 175px;
  margin-bottom: 25px; }

.footer-contact__link {
  font-family: Onest;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #1A1B22;
  display: block;
  margin-bottom: 5px; }

.footer-contact__img-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (max-width: 520px) {
    .footer-contact__img-list {
      -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap; } }

.footer-contact__img-link {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
  margin-bottom: 10px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-contact__img-link img {
    max-width: 95%;
    max-height: 35px; }
  @media (max-width: 520px) {
    .footer-contact__img-link {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      max-width: 75px;
      padding: 0 5px; }
      .footer-contact__img-link:first-child {
        display: none; } }

.footer__list {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1280px) {
    .footer__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  @media (max-width: 350px) {
    .footer__list {
      display: block; } }

.footer__blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0 10px; }
  @media (max-width: 1280px) {
    .footer__blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
  @media (max-width: 360px) {
    .footer__blok {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 1005;
      flex: 0 0 1005; } }

.footer__title {
  font-family: Neue Machina;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  color: #696E7E;
  margin-bottom: 25px; }
  @media (max-width: 360px) {
    .footer__title {
      font-size: 20px; } }

.footer__link {
  font-family: Onest;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #1A1B22;
  margin-bottom: 15px;
  display: block; }
  @media (max-width: 360px) {
    .footer__link {
      font-size: 14px; } }

.footer-bottom {
  padding: 40px 0; }

.footer-bottom__title {
  font-family: Onest;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: #696E7E;
  margin-bottom: 15px; }
  @media (max-width: 360px) {
    .footer-bottom__title {
      font-size: 16px; } }

.footer-bottom__text {
  font-family: Onest;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 1027px;
  color: #696E7E;
  margin: 0 auto; }
  @media (max-width: 360px) {
    .footer-bottom__text {
      font-size: 14px; } }
